<h1>Welcome to our site!</h1>
<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
<div id="fb-root"></div>
<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>